/pkg/
/Gemfile.lock
/vendor/
/spec/fixtures/manifests/*
/puphpet/puppet/modules/stdlib/spec/fixtures/modules/stdlib
!/spec/fixtures/modules/stdlib
!/spec/fixtures/modules/stdlib/*
/.vagrant/
/.bundle/
/coverage/
/.idea/
*.iml
